<h4>{{golfer.name}}</h4>
<ul>
	<li>Ranking: {{golfer.ranking}}</li>
	<li>Country: {{golfer.country}}</li>
	<button {{action 'addGolfer' golfer}} class='btn btn-default'>Add to team</button>
	<button {{action 'removeGolfer' golfer}} class='btn btn-danger'>Remove from team</button>
</ul>