{{golfer-profile 
	golfer=model}}

<ul class="has-error">
{{#each model.errors.ranking as |error|}}
	<li class="help-block">{{error.message}}</li>
{{/each}}
</ul>
{{#if isNotOnTeam}}
	<button {{action 'addGolfer' model}} class='btn btn-default'>Add to team</button>
{{else}}
	<button {{action 'removeGolfer' model}} class='btn btn-danger'>Remove from team</button>
{{/if}}